.editUserModal,.changePasswordModal{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.editUserModal.active, .changePasswordModal.active{
  display: flex;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* semi-transparent black */
}
.modal-content>button{
    width: 50px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 24px;
    font-weight: bolder;
}
.modal-content{
    width: 300px;
    height: auto;
    justify-content: space-between;
    z-index: 9999;
    background-color: white !important;
    /* width: 200px; */
    gap: 20px;
    display: flex;
    flex-direction: column;
        border-radius: 5px;

}

.modal-content form{
    justify-content: space-between;
    z-index: 9999;
    background-color: white !important;
    /* width: 200px; */
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.modal-content form .form-group{
display: flex;
flex-direction: column;
}
.modal-content form .form-group input,.modal-content form .form-group select{
padding: 10px;
border: none;
background:#0caa261f;
border-radius: 5px;
}
.modal-content form  button{
padding: 10px;
border: none;
background:#1ebb38ea;
border-radius: 5px;
}

.modal-content h2{
    text-align: center;
    align-items: center;
}